<div class="wrapper">
  <app-users-online id="menu" class="menu"><span style="color:aliceblue">Users online list is loading...</span></app-users-online>
  <div class="chat">
    <app-message-board id="board" class="board"><span style="color:aliceblue">Loading messages...</span></app-message-board>
    <app-sender class="sender"><span style="color:aliceblue">A sender is loading ...</span></app-sender>
  </div>
  <!--
  <my-menu div id="info" class="info" (onSmileClickedEventFromMenu)="SmileClickedEventFromMenu($event)"><span style="color:aliceblue">Загружаю меню ...</span></my-menu>
      -->
</div>
