<div class="wrapper">
  <my-users id="menu" class="menu"><span style="color:aliceblue">Загружаю кто онлайн ...</span></my-users>
  <div class="chat">
    <my-app id="board" class="board"><span style="color:aliceblue">Загружаю доску сообщений...</span></my-app>
    <my-sender class="sender"><span style="color:aliceblue">Загружаю сендер ...</span></my-sender>
  </div>
  <!--
  <my-menu div id="info" class="info" (onSmileClickedEventFromMenu)="SmileClickedEventFromMenu($event)"><span style="color:aliceblue">Загружаю меню ...</span></my-menu>
-->
</div>
